:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  color: #fff;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(#000, 0.50);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(#000, 0.76);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 12px 0;
}

p {
  margin: 0;
  line-height: 25px;
  letter-spacing: 0.5px;
}
.navbar {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0.5));
  z-index: 1;

  ul {
    display: flex;
    list-style: none;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    width: 130px;
    li {
      margin: 0.5rem 1rem;
      padding: 0.5rem 0;
      a {
        color: rgba(#fff, 0.7);
        text-decoration: none;
        text-transform: uppercase;
        &.active{
          color: #fff;
          font-weight: bolder;
        }
        &:hover {
          color: #fff;
        }
      }
    }
  }
}
.spacer {
  flex: 1;
}
.logo {
  color: white;
}
.intro {
  display: flex;
  align-items: center;

  div{
    margin-left: 30px;
  }
  .portrait{
    max-width: 15em;
    border-radius: 50%;
    &:hover {
      transform: scale(125%);
      transition:transform 0.1s linear;
    }
  }

  p{
    font-size: large;
  }
  #intro-name{
    font-size: xxx-large;
  }
}

.logo:hover{
  opacity: 0.8;
}
.container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
.content {
  display: flex;
  margin: auto auto;
  max-width: 960px;
  flex-direction: column;
  align-items: flex-start;
}
section {
  height: 100vh;
  width: 100%;
  scroll-snap-align: center;
  display: flex;
  align-items: center;
  text-align: justify;
  h1.section-title {
    text-transform: uppercase;
  }
  &>div {
    background-color: rgba(#000, 0.6);
    border-radius: 5px;
    width: 100%;
    padding: 50px;
  }
}
table{
  width: 100%;
  &, th, td {
    border: none;
  }
}
a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}
footer a {
  display: flex;
  align-items: center;
}

/* Responsive Styles */
@media screen and (max-width: 1230px) {
  .container {
    scroll-behavior: auto;
    scroll-snap-type: none;
  }
  section {
    flex-wrap: wrap;
    text-align: left;
    height: auto;
    padding-top: 20px;
    &#contact-info{
      margin-bottom: 10vh;
    }
  }
  #home {
    height: 100%;
  }
  .intro {
    flex-wrap: wrap;
  }
  section::-webkit-scrollbar {
    display: none;
  }

  .navbar {
    position: sticky;
    width: 100%;
    top: 0;
    display: flex;
    font-size: small;
    background-color: rgba(0,0,0,0.8);
    border-radius: 5px;
    ul {
      display: flex;
      justify-content: space-around;
      list-style: none;
      flex-direction: row;
      width: 100%;
      text-align: center;
      align-items: center;
      li {
        width: 20%;
        margin: 0 5px;
        padding: 0;
      }
    }
  }

}

